body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#list_idol,
#list_idol_qqllive,
#list_idol_yyllive,
#list_idol_789live,
#list_idol_hot51 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 40px;
}
